<h1>Help</h1>
<p>
    Get help on Ruby on Rainl Tutorial at the 
    <a href="http://railstutorial.org/help">Rail Tutorial help page</a>.
    To get help on the sample app, see the 
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
